name: bash-template
version: ${VERSION}
description: templates files using environment variables
keywords:
  - bash
  - template
properties:
  input:
    type: string
    required: false
    default: ""
  output:
    type: string
    required: false
    default: ""
  error-on-empty:
    type: string
    required: false
    default: ""
